HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#Python#
bin/
lib/
directoryWithVideos/*.webm
directoryWithConvertedVideo/*.mp4
photos/*.jpg
smallphotos/*.jpg
Croped_licence_plates/*.jpg
Cropped_licence_plates/*.jpg
Croped_licence_plates/*.png
Cropped_licence_plates/*.png
dataset_irish_plates/images/*.jpg
dataset_irish_plates/images/*.png
dataset_irish_plates/labels/*.txt
dataset_renamed/images/*.jpg
dataset_renamed/images/*.png
dataset_renamed/train_draft.txt
imgaes_only_recognized_plates/*.jpg
imgaes_only_recognized_plates/*.png
images_only_reconized_plates/*.jpg
images_only_reconized_plates/*.png
parkingVenv/*
EasyOCR/*
/EasyOCR/*

yolo-app/*
yolo-app

saved_video/*
dogs.mp4

output/video_output/*
output/video_output


# --- Systemowe i IDE ---
.idea/
.vscode/
.DS_Store
*.swp

# --- Środowisko Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
parkingVenv/
.env

# --- Dane i Modele (Te idą na USB przez rsync, nie na GitHub) ---
*.pt
*.onnx
*.engine
weights/

# --- Multimedia i Wyniki ---
*.mp4
*.webm
*.jpg
*.jpeg
*.png
# Wyklucz całe foldery z multimediami:
directoryWithVideos/
directoryWithConvertedVideo/
photos/
smallphotos/
saved_video/
output/
EasyOCR/

# --- Logi i Cache ---
*.log
.cache/

instructions.txt