HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#Python#
bin/
lib/
directoryWithVideos/*.webm
directoryWithConvertedVideo/*.mp4
photos/*.jpg
smallphotos/*.jpg
parkingVenv/*
EasyOCR/*
/EasyOCR/*

yolo-app/*
yolo-app

saved_video/*
dogs.mp4